.product_slider_titel {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.owl-stage-outer {
  cursor: pointer;
}
.owl-nav {
  cursor: pointer;
}
.product_slider .modal-dialog {
  max-width: 700px !important;
}
.modal_product_details {
  width: 50%;
}
.modal_product_img {
  width: 50%;
}
.product_slider .owl-prev i,
.product_slider .owl-next i {
  font-size: 30px;
}

.product_slider .owl-prev,
.product_slider .owl-next {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.38) !important;
  border-radius: 50%;
  position: relative;
}
.product_slider .owl-prev {
  left: -25px;
}
.product_slider .owl-next {
  position: relative;
  right: -25px;
}
